<div class="update_type">
{#    <button type="button" id="course_create" class="btn btn-success" data-toggle="modal" data-target="#course_create">#}
{#        Добавить курc#}
{#    </button>#}

     <input type="hidden" id="course_update_id" class="btn btn-success" data-toggle="modal" data-target="#course_update">
    <div class="modal fade" id="course_update" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Обновить курс</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/type-course-list/" method="post">
                        <div class="form-group">
                            <label for="name">Наименование:</label>
                            <input type="hidden" name="id" id="id" value="{{ id }}">
                            <input type="hidden" name="method" value="update">
                            <input type="text" name="name" class="form-control" id="name" value="{{ name }}"
                                   placeholder="Name">
                            <select name="type_course" class="form-control" multiple="multiple">
                                {# class="form-control"  id="example-getting-started" size="5" multiple> #}
                                {% for type_course in objects_list_type_course %}
                                    <option value="{{ type_course.name }}">{{ type_course.name }}</option>
                                    {# <option selected value="{{ type_course.name }}">{{ type_course.name }}</option> #}
                                {% endfor %}
                            </select>
                        </div>
                        {# <a href="/add-student/">Добавить студента на курс</a>#}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Обновить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>