<div class="update_category">
{# <button type="button" id="category_create" class="btn btn-success" data-toggle="modal" data-target="#category_create"> #}
    {# Добавить категорию#}
{# </button> #}

    <input type="hidden" id="category_update_id" class="btn btn-success" data-toggle="modal" data-target="#category_update">
    <div class="modal fade" id="category_update" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Обновить категорию</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/category-list/" method="post">
                        <div class="form-group">
                            <label for="name">Наименование:</label>
                            <input type="hidden" name="id" id="id" value="{{ id }}">
                            <input type="hidden" name="method" value="update">
                            <input type="text" name="name" class="form-control" id="name" value="{{ name }}"
                                   placeholder="Name">
                            <label for="courses">Виды курсов:</label>
                            <select name="courses" class="form-control" multiple="multiple" id="courses">
                                {% for course in objects_list_courses %}
                                    <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {# <a href="/add-student/">Добавить студента на курс</a>#}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Обновить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>