{% extends "base.html" %}

{% block main_block %}

<div id="">
    {#
    <main>#}
        <div class="container-fluid">
            <h1 class="mt-4">Категории</h1>
            <!-- Modal -->
            <div class="modal fade" id="Category_create" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Создать категорию</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/category-list/" method="post">
                                <div class="form-group">
                                    <label for="name">Наименование:</label>
                                    <input type="hidden" name="method" value="create">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="courses">Виды курсов:</label>
                                    <select name="courses" class="form-control" multiple="multiple" id="courses">
                                        {# class="form-control"  id="example-create-start" size="5" multiple> #}
                                        {% for course in objects_list_courses %}
                                            <option value="{{ course.id }}">{{ course.name }}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        Создать
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'include/update_category.html' %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Список Категорий
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable"
                               width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ид</th>
                                <th>Наименование категории</th>
                                <th>Курсы</th>
<!--                                <th>Преподователи</th>-->
                                <th>Изменить</th>
                                <th>Удалить</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for category in objects_list %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>
                                    {% for i in category.courses %}
                                            {{ i.name }}
                                    {% endfor %}
                                </td>
<!--                                <td>{{ category.teachers }}</td>-->
                                <td class="update_category_ajax">

                                        <button type="button" class="btn btn-success btn-block" value="{{ category.id }}">
                                            {#  type="button" class="btn btn-success" data-toggle="modal"#}
                                            {#  data-target="#category_update">#}
                                            Изменить
                                        </button>
                                        {# <form action="/category-list/">#}
                                        {# <input class="btn btn-success btn-block" type="submit" value="Изменить">#}
                                        {# </form>#}
                                    </td>
                                    <td>
                                        <form action="/category-list/" method="post">
                                            <input type="hidden" name="method" value="delete">
                                            <input type="hidden" name="id" value="{{ category.id }}">
                                            <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                                        </form>

                                    </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">

                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#Category_create">
                        Добавить категорию
                    </button>
                    {# <a href=""> #}
                    {#
                    <button class="btn btn-success">Добавить нового учителя
                    </button>
                    #}
                    {# </a>#}
                </div>
            </div>
        </div>
        {#
    </main>
    #}
</div>

{% endblock %}