{% extends "base.html" %}

{% block main_block %}
    <div id="">
        <div class="container-fluid">
            <h1 class="mt-4">Ученики</h1>


            <!-- Modal -->
            <div class="modal fade" id="student_create" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Добавить ученика</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/students-list/" method="post">
                                <div class="form-group">
                                    <label for="first_name">Имя:</label>
                                    <input type="hidden" name="method" value="create">
                                    <input type="text" name="first_name" class="form-control" id="first_name"
                                           placeholder="Евгений">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Фамилия:</label>
                                    <input type="text" name="last_name" class="form-control" id="last_name"
                                           placeholder="Палымов">
                                </div>
                                <div class="form-group">
                                    <label for="age">Возраст:</label>
                                    <input type="text" name="age" class="form-control" id="age"
                                           placeholder="32">
                                </div>
                                <div class="form-group">
                                    <label for="email">Емайл:</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                           placeholder="email@mail.ru">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Телефон:</label>
                                    <input type="number" name="phone" class="form-control" id="phone"
                                           placeholder="79123456789">
                                </div>
                                <div class="form-group">
                                    <label for="courses">Курсы</label>
                                    <select name="courses" class="form-control" multiple="multiple" id="courses">
                                        {% for course in objects_list_courses %}
                                            <option value="{{ course.id }}">{{ course.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Создать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'include/update_student.html' %}

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Список учеников
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ид</th>
                                <th>ФИО</th>
                                <th>Возраст</th>
                                <th>E-mail</th>
                                <th>Телефон</th>
                                <th>Курсы</th>
                                <th>Изменить</th>
                                <th>Удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in objects_list %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.first_name }}  {{ student.last_name }}</td>
                                    <td>{{ student.age }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.phone }}</td>
                                    <td> {% for i in student.courses %}
                                            {% if student.courses|length > 1 %}
                                                {% if i == student.courses|last %}
                                                    {{ i.name }}
                                                {% else %}
                                                    {{ i.name }},
                                                {% endif %}
                                            {% else %}
                                                {{ i.name }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="update_student_ajax">
                                        <button type="button" class="btn btn-success btn-block" value="{{ student.id }}">
                                            {#  type="button" class="btn btn-success" data-toggle="modal"#}
                                            {#  data-target="#student_update">#}
                                            Изменить
                                        </button>
                                        {# <form action="/students-list/">#}
                                            {# <input class="btn btn-success btn-block" type="submit" value="Изменить">#}
                                        {# </form>#}
                                    </td>
                                    <td>
                                        <form action="/students-list/" method="post">
                                             <input type="hidden" name="method" value="delete">
                                            <input type="hidden" name="id" value="{{ student.id }}">
                                            <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#student_create">
                        Добавить Ученика
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}